<ion-header>
  <ion-toolbar>
    <ion-title>
      DIVPIZZA - inicio
    </ion-title>
    <ion-buttons slot="primary">
      <!--posiciona o botao de + -->
      <ion-button [routerLink]="['/add-pizza']">
        <!--link com a propri apagina-->
        <ion-icon name='add'></ion-icon>
        <!--cria o botao de +-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-searchbar></ion-searchbar>
    <br />
    <br />
    <div *ngIf="catalogo !== undefined && catalogo.length > 0">
      <div *ngFor="let pizza of catalogo">
        <ion-card>
          <div class="card-menu">
            <img src="../assets/pizza1.jpg" />
            <ion-button (click)="exibirOpcoes(pizza.id)">
              <ion-icon name='more' mode='md'></ion-icon>
            </ion-button>
          </div>
          <ion-card-content>
            <ion-card-title>
              {{pizza.nomePizza}}
            </ion-card-title>
            <ion-card-subtitle>
              <div>
                <h1 text-right>{{pizza.precoPizza}}</h1>
              </div>

              {{pizza.descricaoPizza}}
              <div text-center="ion-margin-top">
                <ion-button color='danger' expand="block"(click)="comprar(pizza.id)">
                  <ion-icon name='cart' slot='start'></ion-icon>comprar
                </ion-button>
              </div>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div *ngIf="catalogo.length == 0">
      <ion-card class="card-transparente">
        <img src="../assets/nao-tem-pizza.png" />
        <ion-card-title>
          Não há pizza no momento.
        </ion-card-title>
      </ion-card>
    </div>
  </div>
</ion-content>