ion-content  {
    --background:linear-gradient(135deg,rgb(250, 177, 68), rgb(238, 114, 42),rgb(235, 52, 6),rgb(255, 9, 9));

    ion-card{
        --background: white;

    }
    ion-card-sutitle{
        margin-top:10px;
    }
        ion-searchbar{
            --background:white;
    
    }
}

