ion-content  {
    --background:linear-gradient(135deg,rgb(250, 177, 68), rgb(238, 114, 42),rgb(235, 52, 6),rgb(255, 9, 9));

   
    ion-card-sutitle{
        margin-top:10px;
    }
        ion-searchbar{
            --background:white;
    
    }
}

ion-card {
    --background: white;

}

ion-card.card-transparente {
    --background: transparent;
    ion-card-title {
        color:white;
        text-align:center,
    }
    box-shadow: none;
    img{
        width:30%;
    }
    display:flex;
    flex-direction:column;
    align-items: center;
}

.card-menu{
    position: relative;
}
.card-menu ion-button{
    position: absolute;
    top: 0;
    right: 0;
    --background: transparent;
    --background-activated:rgb(235, 147, 15);
}


